
section.top{

    min-height: 730px;
    background: #fc371a; 
    padding-top: 20px;
    position: relative;
    overflow: hidden;
      @media (max-width: 1024px) {
            min-height: 390px;
            padding-top: 0;
      }
    .logo {
      @include centerer(true, true);
       z-index: 2;
       @media (max-width: 767px) {
        width: 70%;
       
      }
      img {
        width: 550px;
        height: 400px;
      }
    }
    .triangle1, .triangle2, .circle, .circle_lg {
      position: absolute;
       z-index: 2;
    }
    .triangle1 {
        background: url(../img/triangle.svg) no-repeat center center;
        background-size: cover;
        width: 190px;
        height: 207px;
        bottom: -110px;
        left: 12%;
        @media (max-width: 767px) {
          left: -50px;
      }

    }
    .triangle2 {
      @extend .triangle1;
       bottom: auto;
       left: auto;
       right: -40px;
       top: -100px;
       transform: rotate(180deg);
    }

    .circle {
      background: url(../img/circle_xs.svg) no-repeat center center;
      background-size: cover;
      width: 234px;
      height: 233px;
      right: -130px;
      bottom: 80px;
      
        @media (max-width: 1024px) {
        bottom: -80px;
      }
        @media (max-width: 767px) {
        bottom: -150px;
      }
    }
       .circle_lg{
          background: url(../img/circle_lg.svg) no-repeat center center;
          width: 536px;
          height: 533px;
          left: -240px;
          top: -200px;
            @media (max-width: 1024px) {
              width: 496px;
              height: 493px;
            top: -350px;
            left: -250px;
          }
          @media (max-width: 767px) {
            left: -270px;
          }
    }
      .navbar-default {
        background-color: transparent;
        border: none;
        z-index: 100;
        margin-bottom: 0;
      }
      /* sestilos navegacion */
      .main_nav {
          float: right;
          @media (max-width: 767px) {
            float: none;
            background-color: $negro;
            margin-top: 0;
            padding: 10px 0 20px 10px;

          }
          li {
            &.active {
              @media (max-width: 767px) {
                  font-size: 18px;

                }
              a, :hover,:focus {
                background-color: transparent;
                @include bold(16px, white) ;
              
              }
            }
            a  {
                color: white;
                text-transform: uppercase;
                @include light(16px, white);
                 transition:all 0.2s ease-in-out;
                &:hover, &:focus {
                  background-color: transparent;
                  color: $negro;

                }
                @media (max-width: 767px) {
                  font-size: 18px;

                }
            }
          }
      } // main nav
} // top

